{% extends '__base__.html' %}

{% block title %}编辑用户{% endblock %}

{% block beforehead %}

<script>

var
    ID = '{{ id }}',
    action = '{{ action }}',
    vm

function initVM(user) {
    vm = new Vue({
        el: '#vm',
        data: user,
        methods: {
            submit: function (event) {
                event.preventDefault();
                var $form = $('#vm').find('form');
                $form.postJSON(action, this.$data, function (err, r) {
                    if (err) {
                        $form.showFormError(err);
                    }
                    else {
                        return location.assign('/manage/users');
                    }
                });
            }
        }
    });
    $('#vm').show();

}

$(function () {
    if (ID) {
        getJSON('/api/users/' + ID, function (err, user) {
            // console.log(user)
            if (err) {
                return fatal(err);
            }
            $('#loading').hide();
            initVM(user);
        });
    }
    else {
        $('#loading').hide();
        initVM({
            name: '',
            email: '',
            admin: 1
        });
    }
});

</script>

{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/manage/comments">评论</a></li>
                <li><a href="/manage/blogs">日志</a></li>
                <li><a href="/manage/users">用户</a></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="vm" class="uk-width-2-3">
        <form v-on="submit: submit" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">姓名:</label>
                <div class="uk-form-controls">
                    <input v-model="name" name="name" type="text" placeholder="姓名" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">邮箱:</label>
                <div class="uk-form-controls">
                    <input v-model="email" name="email" type="text" placeholder="邮箱" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">是否为管理员:</label>
                <div id="admin" >
                    <lable>是<input type="radio" v-model="admin" value=1 ></lable>
                    <lable>否<input type="radio" v-model="admin" value=0 ></lable>
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 保存</button>
                <a href="/manage/users" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
            </div>
        </form>
    </div>

{% endblock %}